@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header-pic {
    padding-top: 30px;
}
.header-bg-color {
    background-color: black;
}
.header-title {
    padding-right: 20%;
    margin-left: 20px;
}
.header-title h1 {
    font-size: 60px;
    margin-bottom: 16px;
    color: #ce7d06;
    word-spacing: 10px;
    font-family: "Berkshire Swash", cursive;
}
.header-title p {
    font-size: 17px;
}
/*  */
.main-section {
    background-color: #151515;
}
.section-left {
    margin-top: 50px;
    width: 80%;
}
.section-right {
    width: 20%;
    margin-top: 50px;
    margin-left: 25px;
}
.selected-player {
    background-color: black;
    color: white;
    padding: 10px 0 10px 20px;
    border-radius: 5px;
}
.selected-player h2 {
    color: #ce7d06;
    font-family: "Berkshire Swash", cursive;
}
.selected-player li {
    padding-left: 6px;
}
.calculation-section {
    background-color: black;
    margin-top: 30px;
    padding: 10px 23px;
    border-radius: 5px;
}
.calculation-section h2 {
    color: #ce7d06;
    font-family: "Berkshire Swash", cursive;
}
.perPlayer-field {
    width: 120px;

    border: 1px solid white;
    background-color: black;
}
.perPlayer-field-p {
    color: white;
    margin-bottom: 0;
}
.button {
    padding: 4px 0;
    width: 100%;
    background-color: #015196;
    color: white;
}
